<!DOCTYPE HTML>
<html>

<head>
    <title>Pttr - Match.com for Stray Animals</title>
    <meta name="description" content="Pttr is the Match.com for stray animals and animal lovers. Love an animal, save a life">
    <link rel="stylesheet" type="text/css" href="bower_components/Bootflat/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/format.css">
    <script src="bower_components/Bootflat/js/jquery-1.10.1.min.js"></script>
    <script src="bower_components/Bootflat/js/bootstrap.min.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-app="">
    <div class="dashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <div class="search_blk">
                        <label for="animal">Animal Name:</label>
                        <input type="text" id="animal" ng-model="animal">
                        <label for="type">Animal Type</label>
                        <input type="text" id="type" ng-model="animal">
                        <button class="btn btn-md">Search</button>
                    </div>
                    <div id="viewport">
                        <div class="row">
                            <div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div><div class="col-sm-3 wow zoomIn" ng-repeat="animal in animal">
                                <div class="thumbnail ">
                                    <img class="img-rounded" src="img/thumbnail-3.jpg">
                                    <div class="caption text-center">
                                        <h2>{{animal.name}}</h2>
                                        <h3>{{animal.type}}</h3>
                                        <p>
                                            {{animal.description}}
                                        </p>
                                        <p>      
                                            <a href="#" class="btn btn-default" role="button">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="subsecs">
                                <div class="sub_sectTitle">
                                    <h3>List of Pledges</h3>
                                </div>
                                <hr>
                                <div class="listofPledges">
                                    <ul>
                                        <li>
                                            <h5><strong>{{username}}</strong></h5>
                                            <h5>{{pledgetype}}</h5>
                                            <h5>{{pledgeamount}}</h5>
                                        </li>
                                        <li>
                                            <h5><strong>{{username}}</strong></h5>
                                            <h5>{{pledgetype}}</h5>
                                            <h5>{{pledgeamount}}</h5>
                                        </li>
                                        <li>
                                            <h5><strong>{{username}}</strong></h5>
                                            <h5>{{pledgetype}}</h5>
                                            <h5>{{pledgeamount}}</h5>
                                        </li>
                                        <li>
                                            <h5><strong>{{username}}</strong></h5>
                                            <h5>{{pledgetype}}</h5>
                                            <h5>{{pledgeamount}}</h5>
                                        </li>
                                        <li>
                                            <h5><strong>{{username}}</strong></h5>
                                            <h5>{{pledgetype}}</h5>
                                            <h5>{{pledgeamount}}</h5>
                                        </li>
                                        <li>
                                            <h5><strong>{{username}}</strong></h5>
                                            <h5>{{pledgetype}}</h5>
                                            <h5>{{pledgeamount}}</h5>
                                        </li>
                                        <li>
                                            <h5><strong>{{username}}</strong></h5>
                                            <h5>{{pledgetype}}</h5>
                                            <h5>{{pledgeamount}}</h5>
                                        </li>
                                        <li>
                                            <h5><strong>{{username}}</strong></h5>
                                            <h5>{{pledgetype}}</h5>
                                            <h5>{{pledgeamount}}</h5>
                                        </li>
                                        <li>
                                            <h5><strong>{{username}}</strong></h5>
                                            <h5>{{pledgetype}}</h5>
                                            <h5>{{pledgeamount}}</h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="subsecs">
                                <div class="sub_sectTitle">
                                    <h3>List of Possible Adoptors</h3>
                                </div>
                                <hr>
                                <div class="listofPledges">
                                    <ul>
                                        <li>
                                            <h5>{{username}}</h5>
                                            <h5>{{AnimalName}}</h5>
                                            <h5>{{AnimalType}}</h5>
                                        </li>
                                        <li>
                                            <h5>{{username}}</h5>
                                            <h5>{{AnimalName}}</h5>
                                            <h5>{{AnimalType}}</h5>
                                        </li>
                                        <li>
                                            <h5>{{username}}</h5>
                                            <h5>{{AnimalName}}</h5>
                                            <h5>{{AnimalType}}</h5>
                                        </li>
                                        <li>
                                            <h5>{{username}}</h5>
                                            <h5>{{AnimalName}}</h5>
                                            <h5>{{AnimalType}}</h5>
                                        </li>
                                        <li>
                                            <h5>{{username}}</h5>
                                            <h5>{{AnimalName}}</h5>
                                            <h5>{{AnimalType}}</h5>
                                        </li>
                                        <li>
                                            <h5>{{username}}</h5>
                                            <h5>{{AnimalName}}</h5>
                                            <h5>{{AnimalType}}</h5>
                                        </li>
                                        <li>
                                            <h5>{{username}}</h5>
                                            <h5>{{AnimalName}}</h5>
                                            <h5>{{AnimalType}}</h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footCust clearfix">
        <h4>Pttr</h4>
        <ul class="listLeft pull-left">
            <li>Home</li>
            <li>Mission</li>
            <li>About</li>
            <li class="center">Copyright &copy 2014 Pttr All Rights Reserved</li>
        </ul>
        <ul class="listRight pull-right">
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
        </ul>
    </footer>
</body>

</html>
