@mixin background-size($size){
	-webkit-background-size:$size;
	   -moz-background-size:$size;
		-ms-background-size:$size;
		 -o-background-size:$size;
		    background-size:$size;
}
@mixin SameWidthHeight($x){
	width: $x;
	height: $x;
}

@mixin overlay($a, $b, $c, $d){
	background: hsla($a, $b, $c, $d);
}
@mixin paddingLR($same){
	padding-left:$same;
	padding-right:$same;
}
@mixin paddingTB($same){
	padding-top:$same;
	padding-bottom:$same;
}


