@mixin background-size($size){
	-webkit-background-size:$size;
	   -moz-background-size:$size;
		-ms-background-size:$size;
		 -o-background-size:$size;
		    background-size:$size;
}
@mixin SameWidthHeight($x){
	width: $x;
	height: $x;
}
@mixin overlay($color){
	@include SameWidthHeight(100%);
	background: $color;
}
@mixin paddingLR($same){
	padding-left:$same;
	padding-right:$same;
}

