<div class="view">
        <div class="container profileSettings">
            <h1><span class="glyphicon glyphicon-cog">Profile Information</h1>
            <form>
                <div class="row">
                    <div class="col-sm-6" ng-init="isDisable=false">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input disabled="{{isEditable}}" type="text" class="form-control" id="name" name="name" placeholder="Enter Fullname" ng-model="edit.data.name">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input disabled="{{isEditable}}" type="text" class="form-control" id="address" name="address" placeholder="Enter Your Address" ng-model="edit.data.address">
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input disabled="{{isEditable}}" type="text" class="form-control" id="email" name="email" placeholder="Enter Email" ng-model="edit.data.email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input disabled="{{isEditable}}" type="text" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number" ng-model="edit.data.phone">
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="biography">Biography</label>
                            <textarea disabled="{{isEditable}}" class="form-control" name="biography" id="biography" placeholder="Tell us about yourself..." ng-model="edit.data.biography" maxlength="140"></textarea>
                        </div>
                        <div class="btn_blk" ng-show="isEditable">
                            <button ng-submit() class="btn btn-lg">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>