.dashboard {
    div.liked {
        .btn:first-child {
            background-color: #EE2B31;
        }
    }
    img {
        height: 250px;
        border-radius: 10px/30px;
    }
    .thumbnail {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        margin-bottom: 45px;
        border-radius: 10px/30px;
        background-color: white;
    }
    .btn {
        background-color: #2D81E5;
        color: #F2F2F2;
    }
    .btn:hover {
        background-color: #1E5699;
        color: #F2F2F2;
    }
}
