.dashboard {
    .liked {
        background-color: #da4453;
        border-color: #da4453;
        color: white;
    }
    div.liked{
    	background-color:#FFCE54
    }
    img{
    	height: 250px;
    }
}
