body,html{
	width: 100%;
	height: 100%;
}
#navbar{
	position: fixed;
	background-color: black;
	border:solid 1px black;
}
section{
	position: relative;
	width: 100%;
}
#landing{
	background:url('../images/landingGif.gif')center center no-repeat;
	@include background-size(cover);
	@include SameWidthHeight(100%);
}

.overlay{
	@extend %overlay;
}