body, html {
    width: 100%;
    height: 100%;
}
#navbar {
    position: fixed;
    top: 0;
    background-color: black;
    border: solid 1px black;
    z-index: 100;
    width: 100%;
}
section {
    position: relative;
    width: 100%;
}
.mainContent {
    padding-top: 7%;

}
#landing {
    background: url('../images/landingGif.gif')center center no-repeat;
    @include background-size(cover);
    @include SameWidthHeight(100%);
}
.overlay {
    @include overlay(213, 67%, 36%, 0.34);
    @include SameWidthHeight(100%);
    position: relative;
}

.landingContainer {
    z-index: 75;
    width: 50%;
    height: 50%;
    margin-top: 20%;
    margin-left: 25%;
    margin-right: 25%;
    position: absolute;
}
.landingContent {
    z-index: 39;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    color: #CEDBF0;
    text-align: center;
    position: relative;
}
.glyphicon-chevron-down {
    font-size: 76px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-right: 5.5px;

}
.arrow {
    margin: 20%;
    width: 100px;
    height: 100px;
    text-align: center;
    border: solid 3px #CEDBF0;
    border-radius: 50%;
    margin: 20% auto 0 auto;
    position: absolute;
}

.pg_img_blk {
    @include SameWidthHeight(100%);
    @extend %flexCenter;
}

.imgCust{
	width:300px;
	height:300px;
	@include border-radius(50%);
}

.header_blk {
    h1 {
        text-align: center;
    }
}
#pttrInfo {
    .header_blk {
        h1 {
            text-align: right;
        }
        padding-right: 20%;
        padding-bottom: 5%;
    }
    .carouselContainer {
        @include paddingLR(6%);
    }
    img {
        width: 100%;
        height: 370px;
    }
}
.p_blck {
    @include paddingLR(4%);
    p:first-child:first-letter {
        float: left;
        color: rgba(3, 29, 54, 1);
        font-size: 50px;
        line-height: 40px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-family: Georgia;
    }
}
#sign_Btn_Blk {
    width: 100%;
    @extend %flexCenter;
    button {
        width: 30%;
        font-size: 2em;
    }
    button:nth-child(0) {
        margin-left: 10%;
    }
    button:nth-child(1) {
        margin-right: 10%;
    }
}
.subCont {
    p {
        padding: 5%;
        text-align: center;
    }
    @include paddingLR(20%);
}
#profilePage {
    padding-top: 10%;
    .input_blk {
        padding-top: 25%;
        @include paddingLR(5%);
  }
}

#bio_blk, #addr_blk {
    textarea {
        width: 100%;
        @extend %border_box;
        resize: none;
  }
    width:100%;
    padding-top: 10%;
}

.btn_blk {
    margin-top: 5%;
}

#searchPreference {
    padding-top: 10%;
    .header_blk {
        font-size: 10vw;
    }
    textarea {
        width: 50%;
        @extend %border_box;
        resize: none;
    }
    .question_blk {
        width: 100%;
    }
}
