body, html {
    width: 100%;
    height: 100%;
    padding-top: 26px;
}
body a, body a:active, body a:visited {
    color: #CEDBF0;
}
body a:hover {
    color: white;
}
.navbar {
    position: fixed;
    top: 0;
    background-color: white;
    border: solid 1px #CEDBF0;
    z-index: 100;
    width: 100%;
    @include border-radius(0);
}
.navbar-default .navbar-text, .navbar-default .navbar-nav>li>a {
    color: #1E5699;
}
.navbar-default .navbar-text, .navbar-default .navbar-nav>li>a {
    color: #2D81E5;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {
    background-color: #1E5699;
    border-color: #2D81E5;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #1E5699;
    border-color: #2D81E5;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2D81E5;
}
.navbar-default .navbar-text, .navbar-default .navbar-nav>li>a {
    color: #1E5699;
}
.navbar-default .navbar-text, .navbar-default .navbar-nav>li>a:hover {
    color: #2D81E5;
}
section {
    position: relative;
    width: 100%;
}
.mainContent {
    padding-top: 2%;
    padding-bottom: 2%;
}
#landing {
    background: url('../images/landingGif.gif')center center no-repeat;
    @include background-size(cover);
    @include SameWidthHeight(100%);
}
.overlay {
    @include overlay(213, 67%, 36%, 0.34);
    @include SameWidthHeight(100%);
    position: relative;
}
.landingContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    .arrow {
        width: 100px;
        height: 100px;
        text-align: center;
        border: solid 2px #CEDBF0;
        border-radius: 50%;
        .glyphicon-chevron-down {
            font-size: 76px;
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-right: 5.5px;
        }
    }
}
.landingContent {
    position: absolute;
    top: 25%;
    width: 100%;
    h1, h2 {
        text-align: center;
        color: #CEDBF0;
    }
}
.pg_img_blk {
    @include SameWidthHeight(100%);
    @extend %flexCenter;
    padding-top: 5%;
}
.imgCust {
    @include SameWidthHeight(270px);
    @include border-radius(50%);
}
.header_blk {
    h1 {
        text-align: center;
    }
}
#pttrInfo {
    .header_blk {
        h1 {
            text-align: center;
        }
        padding-bottom: 2%;
    }
    .carouselContainer {
        @include paddingLR(6%);
        padding-top: 6%;
    }
    img {
        width: 100%;
        height: 370px;
    }
    .p_blck {
        @include paddingLR(4%);
        text-align: justify;
    }
}
#sign_Btn_Blk {
    width: 100%;
    @extend %flexCenter;
    .btn {
        width: 30%;
        font-size: 2em;
    }
    .orgButton {
        background-color: #1E5699;
        color: white;
        margin-left: 10%;
    }
    .orgButton:hover {
        background-color: #2D81E5;
        color: white;
        margin-right: 10%;
    }
}
.subCont {
    p {
        padding: 5%;
        text-align: center;
    }
    @include paddingLR(20%);
}
#searchPreference {
    padding-top: 10%;
    .header_blk {
        font-size: 10vw;
    }
    textarea {
        width: 50%;
        @extend %border_box;
        resize: none;
    }
    .question_blk {
        width: 100%;
    }
}
.left {
    background-color: #1E5699;
    color: #CEDBF0;
}
.right {
    background-color: yellow;
}
#pttrInfo {
    background-color: #1E5699;
    color: white;
}
navCust {
    margin-botton: 0;
}
.footCust {
    background-color: #1E5699;
    color: #CEDBF0;
}
.indButton {
    background-color: white;
    color: #1E5699;
}
.indButton:hover {
    background-color: #2D81E5;
    color: white;
}
.logo {
    height: 100px;
    width: 100px;
}
.right {
    background-color: white;
}
.listLeft {
    list-style: none;
    margin: 10px 10px;
    display: inline-block;
    float: left;
}
.logo {
    height: 100px;
    width: 100px;
}
.listRight {
    margin: 10px 10px;
    list-style: none;
    display: inline-block;
    float: right;
}
#signUp {
    min-height: 300px;
}
.containerPttr {
    overflow: none;
}
