.view {
    .profileSettings {
        h1 {
            text-align: center;
        }
        li{
            margin-bottom:15px;
            text-align:justify;
        }
        .btn_blk {
            display: flex;
            justify-content: center;
            padding-top: 5%;
            .btn {
                background-color: #1E5699;
                color: #DBE9EE;
                margin-bottom: 10%;
            }
            .btn:hover {
                background-color: #2D81E5;
                color: #EEF3F7;
                margin-bottom: 10%;
            }
            .btn:nth-child(0){
                margin-left:5%;
            }
            .btn:nth-child(1){
                margin-right:5%;
            }
        }
        input[text], textarea {
            margin-bottom: 20px;
            resize: none;
        }
        .col-sm-12{
        @include paddingLR(20%);
        }
    }
}
